body {
    font-family: Arial, sans-serif;
    background-image: url("new.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  input[type="text"] {
    font-size: 20px;
    padding: 10px;
    width: 500px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  .time-container, .score-container {
    margin-top: 30px;
  }
  
  #end-game-container {
    display: flex;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    width: 500px;
    text-align: center;
  }
  
  #end-game-container h3 {
    margin-bottom: 30px;
  }